:root {
	--main-color: #F78E69;
	--text-color: #fff;
	--secondary-color: #ABE188;
}

body {
	background: var(--main-color);
	font-family: 'Raleway', sans-serif;
	color: var(--text-color);
	margin: 0;
}

/***********************
	estilos base
************************/

img {
	display: block;
	width: 100%;
	max-width: 100%;
}

.encabezado {
	background: var(--main-color);
	padding: 5px 30px;
}

.encabezado h1 {
	font-size: 2.3rem;
	font-weight: bold;
	margin-bottom: -20px;
}

.encabezado h2 {
	font-size: 1.2rem;
	margin-bottom: -10px
}

.borde-img {
	position: relative;
}

.borde-img img {
	border-top: solid 20px var(--main-color);
	border-bottom: solid 20px var(--main-color);
	margin-top: 30px;
}

main {
	background: var(--secondary-color);
	padding-top: 35px;
	padding-bottom: 0px;

}

.about-pandas {
	background: var(--secondary-color);
}

.container-about-pandas {
	background: var(--main-color);
	width: 90%;
	margin: auto;
	margin-bottom: 35px;
	padding: 2px 18px 10px 18px;
	text-align: center;
}

.container-about-pandas h3 {
	font-size: 1.5rem;
	font-weight: bold;
}


.galeria-imagenes .row {
	margin: 20px 0 60px 0;
}

.galeria-imagenes p {
	font-size: 2.5rem;
	font-weight: bold;
}

.galeria-imagenes img {
	/*
	border: solid 2px var(--text-color);
	margin-bottom: 10px;
	padding: 12px;
*/
}

.pie-de-pagina {
	margin: 0 0 25px 0;
	padding-right: 20px;
	font-size: 1.4rem;
}

@media screen and (min-width:768px) {
	.container-about-pandas {
		width: 60%;
	}
	.encabezado h1 {
		font-size: 3rem;
		font-weight: bold;
		margin-bottom: -20px;
	}

	.encabezado h2 {
		font-size: 1.2rem;
		margin-bottom: -10px
	}
}
